body {
  margin: 0;
}

#app-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#background-box {
  z-index: -1;
  background: url("");
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
